:root{
  --active-bg-color: #ecf5ff; // 弹窗选中人员列表项背景色
  --hover-bg-color: #ecf5ff;  // 弹窗人员列表项hover背景色
  --hover-text-color: #409eff;  // 弹窗选中人员列表项hover字体色
  --label-text-color: #0089ff;  // 标签默认字体色
  --label-ht-bg-color: #0089ff; // 标签高亮背景色
  --label-ht-text-color: #fff;  // 标签高亮字体色
  --label-ht-text-hover-color:#fff; // 高亮标签hover字体色
  --label-ht-bg-hover-color: #0089ff; // 高亮标签hover背景色
  --label-bg-hover-color: rgba(126, 134, 142, 0.12);  // 默认标签hover背景色
  --label-text-hover-color: #0089ff;  // 默认标签hover字体色
  --loading-bg: rgba(255, 255, 255, .9);  // loading遮罩背景色
  --empty-color: #909399; // 无数据字体色
}
